:root {
  /* colors */
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navi-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --could: #f4f4fd;
  --navi-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: #2e2f42;
  --white: #ffffff;

  /* fonts */
  --main-font: "Roboto", sans-serif;

  /* animations */
  --main-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* =======   COMPONENTS   ====== */

h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
  font-style: normal;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: var(--main-font);
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--navi-blue);
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.list {
  list-style: none;
}

.header-wrapper,
.menu,
.menu-items,
.header-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-link,
.contacts,
.button {
  transition: color, background-color var(--main-transition);
}

.contacts {
  font-weight: 400;
  font-size: 16px;
  color: var(--slate);
}

.contacts:hover,
.contacts:focus {
  color: var(--ocean);
}

.button {
  font-size: 16px;
  color: var(--white);
  padding: 16px 32px;
  background-color: var(--iris);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: var(--ocean);
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  margin-bottom: 72px;
}

.subtitle {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  color: var(--navi-blue);
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--slate);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  color: var(--iris);
  text-transform: uppercase;
}

.logo-black {
  color: var(--navi-blue);
}

.logo-white {
  color: var(--white);
}

/* social-media icons decorate*/
.social {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-item {
  position: relative;
  background-color: var(--iris);
  border-radius: 50%;
  transition: background-color var(--main-transition);
}

.social-item:hover,
.social-item:focus {
  background-color: var(--ocean);
}

.social-link {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icon {
  fill: var(--could);
}

/* =======   HEARDER   ====== */

header {
  display: flex;
  height: 72px;
  top: 0;
  left: 0;
  right: 0;
}

header .logo {
  margin-right: 76px;
}

.menu-link {
  font-size: 16px;
  line-height: 1.5;
  color: var(--navi-blue);
}

.menu-link-active,
.menu-link:hover,
.menu-link:focus {
  color: var(--ocean);
}

.menu-link {
  position: relative;
}

.menu-link::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -27px;
  left: 0;
  width: 0;
  height: 4px;
  border-radius: 2px;
  background-color: var(--ocean);
  transition: width var(--main-transition);
}

.menu-link-active.menu-link::after,
.menu-link:hover::after,
.menu-link:focus::after {
  width: 100%;      
}

.menu-link:focus {
  outline: transparent;
}

.menu-item:not(:last-child),
.header-item:not(:last-child) {
  margin-right: 40px;
}

/* =======   HERO   ====== */

.hero {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 188px 0;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), url(../images/hero-img.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  color: var(--white);
  width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}

/* =======   BENEFITS   ====== */

.benefits {
  padding: 120px 0;
}

.benefits-properties {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;
}

.benefits-property {
  flex-basis: calc((100% - 72px)/4);
}

.benefits-property-wrap {
  display: block;
  padding: 24px 0;
  margin-bottom: 8px;
  border-radius: 4px;
  background-color: var(--could);
}

.benefits-property-icon {
  display: block;
  margin: 0 auto;
  fill: var(--navi-blue);
}

.benefits-property-title {
  margin-bottom: 8px;
}

/* =======   ABOUT   ====== */

.about {
  padding-bottom: 120px;
}

.about-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;
}

/* =======   TEAM   ====== */

.team {
  background: var(--could);
  padding: 120px 0;
}

.team-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;
}

.team-item {
  background: var(--white);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
  0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  padding-bottom: 32px;
}

.team-photo {
  margin-bottom: 32px;
}

.team-name {
  margin-bottom: 8px;
}

.team-position {
  margin-bottom: 8px;
}

/* =======   CUSTOMERS   ====== */

.customers {
  padding: 130px 0 120px;
}

.customers-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;
}

.customers-item {
  width: 168px;
  height: 88px;
  border: 1px solid var(--light-slate);
  border-radius: 4px;
  position: relative;
  transition: border-color, fill var(--main-transition);
}

.customers-item:hover,
.customers-item:focus {
  border-color: var(--ocean);
}

.customers-item:hover .customers-icon,
.customers-item:focus .customers-icon {
  fill: var(--ocean);
}

.customers-link {
  display: block;
  height: inherit;
}

.customers-icon {
  position: absolute;
  top: 15px;
  left: 30px;
  fill: var(--light-slate);
  transition: fill var(--main-transition);
}

/* =======   FOOTER  ====== */

footer {
  background-color: var(--navi-blue);
  padding: 100px 0;
}

.footer-wrap {
  display: flex;
}

.footer-descr {
  margin-right: 120px;
}

footer .logo {
  display: block;
  margin-bottom: 16px;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--cornflower);
  width: 264px;
}

.footer-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 16px;
  color: var(--white);
}

.footer-social {
  margin-right: 80px;
}

.footer-social-list {
  justify-content: start;
  gap: 16px;
}

.footer-social .footer-text {
  margin-bottom: 16px;
}

.footer-social-item {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-social-item:hover,
.footer-social-item:focus {
  background-color: var(--green);
}

.footer-form input {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  background-color: transparent;
  padding: 8px 24px;
  width: 264px;
  margin-right: 24px;
  border: 1px solid var(--white);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--white);
}

.footer-form input::placeholder {
  color: var(--white);
}

.footer-form input::value {
  background-color: transparent;
}

.footer-button {
  padding: 8px 64px 8px 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  color: var(--white);
  position: relative;
}

.footer-form-icon {
  fill: var(--white);
  position: absolute;
  right: 24px;
  bottom: 9px;
}



/* =======   MODAL WINDOW  ====== */

.modal-window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity var(--main-transition), visibility var(--main-transition);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  height: 576px;
  padding: 72px 24px 24px 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: var(--white);
}

.modal-close-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 24px;
  top: 24px;
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  background: transparent;
  border: 1px solid var(--cornflower);
  transition: background var(--main-transition);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background: var(--ocean);
}

.modal-close-icon {
  fill: var(--navi-blue);
  transition: fill var(--main-transition);
}

.modal-close-btn:hover .modal-close-icon {
  fill: var(--white);
}

.modal-window.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-title {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 16px;
}

.modal-form label {
  margin-bottom: 4px;
  position: relative;
}

.modal-form .label-name {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  margin-bottom: 4px;
  color: var(--light-slate);
}

.modal-form input {
  width: 100%;
  border-radius: 4px;
  height: 40px;
  padding: 11px 11px 11px 38px;
  opacity: 0.2;
  border: 1px solid var(--navi-blue);
  transition: border-color var(--main-transition), opacity var(--main-transition);
}

.modal-form input:focus {
  outline: none;
  opacity: 1;
  border-color: var(--iris);
} 

.modal-form-icon {
  position: absolute;
  left: 16px;
  top: 26px;
  fill: var(--navi-blue);
  transition: fill var(--main-transition);
}

.modal-form input:focus + .modal-form-icon{
  fill: var(--iris);
} 

.modal-form textarea {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  resize: none;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  margin-bottom: 16px;
  border: 1px solid var(--navi-blue);
  border-radius: 4px;
  opacity: 0.2;
  outline: none;
  color: var(--navi-blue);
  transition: border-color var(--main-transition), opacity var(--main-transition);
}

.modal-form textarea:focus {
  opacity: 1;
  border-color: var(--iris);
}

.modal-form textarea::placeholder {
  color: var(--navi-blue-modal);
}

.modal-form .modal-form-checkbox {
  padding-left: 24px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 24px;
  cursor: pointer;
  color: var(--light-slate);
}

.modal-form-checkbox a {
  text-decoration: underline;
  color: var(--iris);
}

.modal-form-checkbox-input {
  position: absolute;
}

.modal-form-mycheckbox {
  position: absolute;
  left: 0;
  top: -1px;
  width: 16px;
  height: 16px;
  background-color: var(--white);
  border: 1px solid var(--navi-blue);
  border-radius: 2px;
  transition: background-color var(--main-transition), border-color var(--main-transition);
}

.modal-form-checkbox-input:checked + .modal-form-mycheckbox {
  background-color: var(--ocean);
  border-color: transparent;
  background-image: url(../images/checked.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.modal-form-checkbox-input:focus + .modal-form-mycheckbox {
  border: 2px solid var(--ocean);
}

.modal-form-button {
  width: 169px;
  margin: 0 auto;
}

/* ----------------- PORTFOLIO ------------------------ */

.portfolio {
  padding: 69px 0 120px;
  border-top: 1px solid var(--cornflower);
}

.portfolio-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}

.portfolio-button:not(:last-child) {
  margin-right: 24px;
}

.portfolio-btn {
  background-color: var(--could);
  border: 1px solid #e7e9fc;
  color: var(--iris);
  font-weight: 500;
  letter-spacing: 0.04em;
  padding: 12px 24px;
  box-shadow: none;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-color: transparent;
}

.portfolio-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.portfolio-item {
  flex-basis: calc((100% - 192px) / 9);
  cursor: pointer;
  transition: box-shadow var(--main-transition);
}

.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-overlay {
  position: relative;
  width: 360px;
  height: 300px;
  overflow: hidden;
}

.portfolio-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portfolio-overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  overflow: auto;
  background-color: var(--iris);
  color: var(--could);
  transform: translateY(100%);
  transition: transform var(--main-transition);
}

.portfolio-item-link:hover .portfolio-overlay-text,
.portfolio-item-link:focus .portfolio-overlay-text {
  transform: translateY(0);
}

.portfolio-items-wrapper {
  padding: 32px 16px;
  border-right: 1px solid var(--cornflower);
  border-bottom: 1px solid var(--cornflower);
  border-left: 1px solid var(--cornflower);
}

.portfolio-title {
  margin-bottom: 8px;
}










